tbody {
    background-color: #00FA9A;
}
tr:nth-child(even){
    background-color: #6495ED;
}
tbody th{
   font-style:italic;
   font-weight:normal;
}
tbody tr td:nth-child(2) {
    color: red;
}
tbody tr td:nth-child(4) {
    color: blue;
}
dt:hover + dd{
    background-color:Purple;
}
div.outer-content{
    margin-top: 20px;
    width: 75%;
    background-color: pink;
}
div.inner-content{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    width: 75%;
    background-color: blue;
}